.o-delete-button {
  -webkit-border-radius: 999px !important;
  -moz-border-radius: 999px !important;
  -ms-border-radius: 999px !important;
  -o-border-radius: 999px !important;
  border-radius: 999px !important;
  border: 0;
  left: 3px;
  background-color: #ccc !important;
  color: white !important;
  font-size: 14px;
  font-family: "Lucida Console", Monaco, monospace;
  padding: 0 !important;
  margin: 0 !important;
}

.o-icon {
    color: white !important;
}

.o-button-wrapper {
    background-color: white !important;
}

.o-list-item {
    border-bottom: solid 1px lightgrey;
}

.o-field-small {
    margin: 0;
    font-size: 12px;
}

.o-blue-bold {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: blue;
}

.o-rangeselector .x-button {
  border: 0;
  background: none;
  background-image: -webkit-gradient(linear, 100% 100%, 0, 100% 100%, 34, color-stop(0%, rgba(180, 180, 180, 1)), color-stop(100%, rgba(200, 200, 200, 0.5)));
  background-image: -webkit-linear-gradient(rgba(180, 180, 180, 1), rgba(200, 200, 200, 0.5) 100%);
  background-image: -moz-linear-gradient(rgba(180, 180, 180, 1), rgba(200, 200, 200, 0.5) 100%);
  background-image: -o-linear-gradient(rgba(180, 180, 180, 1), rgba(200, 200, 200, 0.5) 100%);
  background-image: linear-gradient(rgba(180, 180, 180, 1), rgba(200, 200, 200, 0.5) 100%);
}

.o-rangeselector .x-button.x-first {
    border-left: 1px solid lightgray;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
}

.o-rangeselector .x-button.x-last {
    border-right: 1px solid lightgray;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

.o-rangeselector .x-button.x-button-pressed {
    /*YELLOW*/
    /*background: rgba(255, 245, 10, 1);
    background-image: -webkit-gradient(linear, 100% 100%, 0, 100% 100%, 24, color-stop(0%, rgba(255, 235, 0, 0)), color-stop(75%, rgba(255, 160, 0, 0.7)));
    background-image: -webkit-linear-gradient(rgba(255, 235, 0, 0), rgba(255, 160, 0, 0.7) 75%);
    background-image: -moz-linear-gradient(rgba(225, 255, 235, 0, 0), rgba(255, 160, 0, 0.7) 75%);
    background-image: -o-linear-gradient(rgba(225, 255, 235, 0, 0), rgba(255, 160, 0, 0.7) 75%);
    background-image: linear-gradient(rgba(255, 235, 0, 0), rgba(255, 160, 0, 0.7) 75%);*/
    /*SENCHA BLUE*/
    background: rgba(22, 118, 185, 1);
    background-image: -webkit-gradient(linear, 100% 100%, 0, 100% 100%, color-stop(0%, rgba(17, 89, 140, 0)), color-stop(75%, rgba(11, 60, 94, 0.7)));
    background-image: -webkit-linear-gradient(rgba(17, 89, 140, 0), rgba(11, 60, 94, 0.7) 75%);
    background-image: -moz-linear-gradient(rgba(225, 17, 89, 140, 0), rgba(11, 60, 94, 0.7) 75%);
    background-image: -o-linear-gradient(rgba(225, 17, 89, 140, 0), rgba(11, 60, 94, 0.7) 75%);
    background-image: linear-gradient(rgba(17, 89, 140, 0), rgba(11, 60, 94, 0.7) 75%);
    /*SENCHA GREEN*/
    /*background: rgba(141, 201, 0, 1);
    background-image: -webkit-gradient(linear, 100% 100%, 0, 100% 100%, color-stop(0%, rgba(126, 177, 5, 0)), color-stop(75%, rgba(91, 127, 3, 0.7)));
    background-image: -webkit-linear-gradient(rgba(126, 177, 5, 0), rgba(91, 127, 3, 0.7) 75%);
    background-image: -moz-linear-gradient(rgba(225, 126, 177, 5, 0), rgba(91, 127, 3, 0.7) 75%);
    background-image: -o-linear-gradient(rgba(225, 126, 177, 5, 0), rgba(91, 127, 3, 0.7) 75%);
    background-image: linear-gradient(rgba(126, 177, 5, 0), rgba(91, 127, 3, 0.7) 75%);*/
}